body {
    margin: 0px;
    padding: 0px;
    }
    
    .background {
        margin: 0px;
        padding: 0px;
        /*background-image: url(images/winter.png);
        background-repeat: no-repeat;
        background-size: cover; */
        box-sizing: border-box;
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    .sky {
        margin-top: 26px;
        margin-left: 70px;

    }
    /* .me {
        width: 100px;
        height: 25px;
        background-color: yellow;
        position: absolute;
        bottom: 30px;
        left: 700px;
    
    } */
    
    .mirror {
        position: absolute;
        padding: 0px;
        margin: 0px;
        background-color: green;
        width: 320px;
        height: 50px;
        bottom: 10px;
        left: 600px;
        transition: left 0.01s linear;
    }

    .cloud {
        display: flex;
        margin: 7px;
        background-color: yellow;
        border: 2px solid black;
        width: 160px;
        height: 90px;
        display: inline-block;
        position: relative; 
    }

    .sun {
        position: absolute;
        bottom: 60px; 
        left: 750px; 
        width: 40px;
        height: 40px; 
        background-color: blue;
        border-radius: 50%;
        border: 2px solid black;
    }