body {
    margin: 0px;
    padding: 0px;
}

canvas {
    width: 100%;
}

/*
.background {
    border: 2px solid #000;
    width: 900px;
    height: 500px;
    position: relative;
}

.me {
	width: 100px;
	height: 10px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 420px;
} */